{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<img src="{{album.image_url}}" alt="{{album.name}}" class="h-25 w-25">
<h1>{{ album.name }}</h1>

<h3>By: {{album.artist_name}}</h3>

<form method="POST" class="bg-dark">
  {{ form.hidden_tag() }}

  {{ form.rating.label(class="form-label")}}
  <i class="bi bi-star-fill text-primary"></i>: <br>
  <div class="btn-group col-6 mb-3" role="group">
  {% for subfield in form.rating %}
    {{subfield(class="btn-check")}}
    {{subfield.label(class="btn btn-outline-primary")}}
  {% endfor %}
  </div>

  <div class="mb-3">
  {{form.favorite_song.label(class="form-label")}}
  {{form.favorite_song(class="form-select bg-dark text-light")}}
  </div>

  {{form.text.label(class="form-label")}}
  {{form.text(class="form-control bg-dark text-light")}}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}