{% extends 'loggedOutBase.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<h1 style="text-align: center;" class="text-primary mt-5">Login</h1>

<div
  class="card border-primary mb-3 mt-5 text-light col-8 col-sm-3"
  style="background-color: rgba(38, 39, 48, 0.141); margin: auto;">
  <div class="card-body">
    <form method="POST" class="w-100">
      {{ form.hidden_tag() }}

      {% for field in form
            if field.widget.input_type != 'hidden' %}

        <p class="mb-3 w-75">
          {{ field.label }}
          {{ field(class='w-100') }}

          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </p>

      {% endfor %}

      <p class="text-secondary">Don't have an account?
        <a href="/signup" class="text-primary">
          Sign up
        </a>
      </p>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}