{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block content %}

<form id="search-form" class="col-9 mt-5" style="margin: auto;">
  <div style="position: relative;" class="mb-3">

    {{form.search(
      placeholder="Search...",
      autocomplete='off',
      class="form-control bg-dark text-light",
      style="display: inline-block; border-radius: 40px;"
      )}}
    <button
      type="submit"
      class="bg-dark h-75"
      style="position: absolute; top: 13%; right: 10px; border: none;">
      <i class="bi bi-search text-light"></i>
    </button>
  </div>
  <div
    class="btn-group col-5"
    role="group"
    aria-label="Basic radio toggle button group"
    style="margin: auto;">
    {% for subfield in form.searchType %}
    {{subfield(class="btn-check")}}
    {{subfield.label(class="btn btn-outline-primary")}}
    {% endfor %}
  </div>
</form>

<div id="search-results" class="col-9 mt-5" style="margin: auto;">

</div>

<script src="/static/search.js"></script>

{% endblock %}